- if local_assigns.has_key?(:post)
  - @feature = post

- if @feature
  - category = local_assigns.has_key?(:category) ? category : @feature.primary_category

  - cache @feature do
    - if @feature
      .feature-heading-container.category-heading
        - if @feature.featured_image && @feature.featured_image.credit.present?
          .photo-credit= raw @feature.featured_image.credit
        %a.feature-heading{href: expanded_post_url(@feature)}
          .feature-heading-img-box{style: "background-image: url('#{@feature.featured_image.try(:image).try(:url, :wide)}');"}
            .feature-heading-inner
              .container-fluid
                - # unfortunately this double wrapping is required to vertically center this auto-height element
                .feature-post-wrap
                  - if category
                    .category-wrap.big-tag
                      %span.category-name= category.name
                  .feature-post-box{class: ("#{' long-headline' if @feature.headline.length > 42}#{' short-headline' if @feature.headline.length < 21}#{' extralong-headline' if @feature.headline.length > 91}")}
                    %h2.post-headline
                      %span.outer
                        %span.inner= @feature.headline
                    .read-story-link Read Story

