= link_to "Add New Media", new_admin_image_path, class: 'btn btn-inverse pull-right action-btn'
= render '/virgo/common/search_form', url: admin_images_path

.clear
.table-panel
  %table.table.admin-posts-table
    %thead
      %tr
        %th= sortable_column "Name"
        %th= sortable_column "Added at", column: :created_at
        %th Added by
        %th.image-preview-col Preview

    %tbody
      - if @images.empty?
        %tr.empty
          %td{colspan: "4"}
            No media

      - @images.each do |image|
        %tr
          %td= link_to truncate(image.name, length: 40), edit_admin_image_path(image)
          %td= image.created_at.to_s(:slashes_with_time)
          %td
            - if image.user
              = link_to image.user.try(:pretty_name), edit_admin_user_path(image.user)
          %td
            = link_to edit_admin_image_path(image), class: 'media-thumb-wrap' do
              = image_tag image.image.url(:thumb)


= paginate @images
