- @slideshow = Slideshow.find(@attributes[:id].to_s)
- el_id = "slideshow-#{SecureRandom.hex(4)}"

.slideshow-box-anchor{data: {target: "##{el_id}"}}
  .slideshow-box-wrapper
    .slideshow-box{data: {slideshow_id: @slideshow.id}}
      .carousel.slide{id: el_id, data: {interval: 'false'}}
        .slide-info
          %span.active-slide-num 1
          %span.slash= "/"
          %span.total-slides= @slideshow.slides.size
        .slide-expand-collapse.hidden-xs.hidden-sm
          %i.fa.fa-expand.slide-icon.slide-expand.js-expand-slideshow-box
          %i.fa.fa-compress.slide-icon.slide-collapse.js-collapse-slideshow-box

        .carousel-inner
          - @slideshow.slides.by_position.each_with_index do |slide, index|
            .item{class: ("active" if index == 0)}
              - if slide.title.present?
                %h3.slide-title= raw slide.title
              .slide-subject
                - if slide.video?
                  .responsive-video-wrap= raw slide.video_embed
                - elsif slide.image
                  = image_tag slide.image.image.url
              - if slide.text.present?
                .carousel-caption
                  = raw slide.text

        %a.left.carousel-control{href: "##{el_id}", data: {slide: "prev"}}
          %span.control-icon.icon-prev
            %i.fa.fa-long-arrow-left
        %a.right.carousel-control{href: "##{el_id}", data: {slide: "next"}}
          %span.control-icon.icon-next
            %i.fa.fa-long-arrow-right
