%h3 Upload new image

= simple_form_for @image, url: upload_panel_admin_media_modal_index_path, html: {class: 'js-image-upload-panel'} do |f|
  
  #upload-file-field-wrap
    %a#browse-files-btn.btn.btn-success{href: '#'}
      Browse Files
    
    = f.file_field :image, id: "image-upload-file-field"
  
  .upload-progress
    .progress-text.text-muted.text-right
      Upload Progress:
      %span.progress-amount= "0%"
    .progress
      .progress-bar.progress-bar-success{style: "width: 0%;"}
  = f.input :name, label: "Image name"
  = f.input :alt_text, as: :string, label: "Alt text (optional)"
  = f.input :credit, label: "Credit (optional, can include HTML)", as: :string
  = f.button :submit, "Upload Image", class: 'btn btn-inverse pull-right', id: 'upload-button'

