- type_name = filter_params[:post_type] || 'post'

- search_url = pages_action? ? admin_posts_path(filters: {post_type: :page}) : admin_posts_path

= form_tag search_url, method: :get, class: 'search-form form-inline pull-left' do
  = hidden_field_tag 'sort', params[:sort]

  - if pages_action?
    = hidden_field_tag 'filters[post_type]', 'page'

  = text_field_tag 'filters[term]', filter_params[:term], class: 'form-control', placeholder: 'Filter by title'
  = select_tag 'filters[month]', options_for_select(admin_post_month_options, filter_params[:month]),  class: 'form-control', prompt: 'All dates'
  = select_tag 'filters[category]', options_for_select(admin_post_category_options, filter_params[:category]),  class: 'form-control', prompt: 'All categories'
  = select_tag 'filters[status]', options_for_select(admin_post_status_options, filter_params[:status]),  class: 'form-control', prompt: 'Any status'
  = submit_tag "Search", class: 'btn btn-default'

  - if filter_params[:term].present? || filter_params[:month].present? || filter_params[:category].present?
    = link_to nil, href: search_url, class: 'clear-link' do
      %i.fa.fa-times-circle-o
      clear search


= link_to "Add New #{type_name.capitalize}", new_admin_post_path(post: {post_type: filter_params[:post_type] || 'post'}), class: 'btn btn-inverse pull-right action-btn', id: 'new-post-link'

.clear
.table-panel
  %table.table.admin-posts-table
    %thead
      %tr
        %th= sortable_column "Headline"
        %th= sortable_column "Status"
        %th= sortable_column "Author", column: "users.byline"
        %th Categories
        %th Tags
        %th= sortable_column "Publication date", column: :publish_at
        %th= sortable_column "Last modified", column: :updated_at

    %tbody
      - if @posts.empty?
        %tr.empty
          %td{colspan: "7"}
            = "No #{type_name}s"

      - @posts.each do |post|
        %tr
          %td= link_to post.headline.present? ? post.headline : '(no headline)', edit_admin_post_path(post)
          %td= post_status_label(post)
          %td= post.author.pretty_name
          %td= post_categories(post)
          %td= post_tags(post)
          %td
            - if post.publish_at.present?
              = post.publish_at.to_s(:slashes_with_time)
          %td
            = post.updated_at.to_s(:slashes_with_time)
            %br
            = "Last modified"

= paginate @posts
