.row
  .col-md-8.col-md-offset-2
    .box
      %h1 Welcome to Platform CMS!
      %hr
      %p
        Please enter some basic info about your site along with an admin email, username and password in the form below.

      - if (@user && @user.errors.any?) || (@site && @site.errors.any?)
        .alert.alert-danger
          We're sorry but your submission was invalid. Please correct the issues below and try again.

          .spacer.xs

          %ul.errors-list
            - @user.errors.full_messages.each do |msg|
              %li= "Admin #{msg.downcase}"
            - @site.errors.full_messages.each do |msg|
              %li= "Site #{msg.downcase}"

      = form_tag install_index_path, class: 'install-form' do
        .form-group
          %label Site Name
          = text_field_tag "site[name]", site_params[:name], class: "form-control"

        .form-group
          %label Site Tagline
          = text_field_tag "site[tagline]", site_params[:tagline], class: "form-control"

        .form-group
          %label Disqus App ID
          = text_field_tag "site[disqus_app_id]", site_params[:tagline], class: "form-control"
          %p.help-block
            Optional, but required for Disqus comment system to function.

        .form-group
          %label Admin Username
          = text_field_tag "user[username]", user_params[:username], class: "form-control"

        .form-group
          %label Admin Email
          = text_field_tag "user[email]", user_params[:email], class: "form-control"

        .form-group
          %label Admin Byline (nickname)
          = text_field_tag "user[byline]", user_params[:byline], class: "form-control"

        .form-group
          %label Admin Password
          = password_field_tag "user[password]", user_params[:password], class: "form-control"

        .form-group
          %label Confirm Admin Password
          = password_field_tag "user[password_confirmation]", user_params[:password_confirmation], class: "form-control"

        = submit_tag "Continue", class: "btn btn-success btn-lg pull-right", data: {disable_with: "Loading..."}

        .clear
