.row
  .col-xs-4.col-xs-offset-4.session-box
    %h3.text-center Register an account
    = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
      = f.input :username
      = f.input :email
      = f.input :password
      = f.input :password_confirmation, label: "Confirm password"
      = hidden_field_tag "next", params[:next]
      = f.button :submit, "Sign Up", data: {disable_with: "Signing Up..."}, class: "btn btn-inverse btn-block"

    .breaker
    = render "users/shared/links"
