.spacer
.row
  .col-md-8.col-md-offset-2
    %h2= "#{@slideshow.new_record? ? 'New' : 'Edit'} Slideshow"
    = simple_form_for [:admin, @slideshow], html: {class: "admin-slideshow-form"} do |f|
      = f.input :name, label: "Slideshow name", as: :string
      = f.input :author_id, as: :hidden, input_html: {value: f.object.author_id || current_user.id}

      - if @slideshow.persisted?
        %p.info.text-muted
          %em You can drag the thumbnails below up and down to reposition the slides in the slideshow.

        %ul.list-unstyled.admin-slides-list.js-admin-slides-list
          - @slideshow.slides.by_position.each do |slide|
            %li.slide{data: {id: slide.id}}
              .thumbnail
                = link_to "Edit or Remove Slide", edit_admin_slide_path(slide), class: 'edit-slide-link'
                - if slide.video?
                  .responsive-video-wrap= raw slide.video_embed
                - elsif slide.image
                  = image_tag slide.image.image.url
                - if slide.text.present?
                  .caption
                    = raw slide.text



      = f.button :submit, (@slideshow.new_record? ? "Create Slideshow" : "Save Slideshow"), class: "btn btn-success pull-right", data: {disable_with: "Saving..."}

      - if @slideshow.persisted?
        = link_to new_admin_slideshow_slide_path(@slideshow), class: 'btn btn-default pull-left' do
          %i.fa.fa-plus
          Add New Slides

      .spacer
      - if @slideshow.persisted?
        .well.help-well
          %h4 Embed this slideshow
          %p.info.text-muted
            You can embed this slideshow in a post or page anywhere on the site with the following shortcode:

          %code
            = "[slideshow id=\"#{@slideshow.id}\"]"

.spacer.xxl

:coffee
  $ ->
    new AdminSlideshowForm
