- content_for :title do
  = "#{site.name} | #{@column.name}"

- cache [@column, page_param] do
  .container.posts-container.column-posts
    .row
      .col-md-10.col-md-offset-1
        %h1.text-center.section-heading
          .inner= @column.name

        - @posts.each do |post|
          = render '/platform/posts/post_short', post: post

        .pagination-wrap
          = paginate @posts

- content_for :end_of_body do
  = render '/platform/common/disqus_comment_count'
