- cache do
  .container.top-margin
    %h1 Help Pages
    %p.info
      You'll find documentation here for more obscure site functions.
      %br
      These help pages are a work in progress. Please feel free to make suggestions about worthwhile additions.
      %br
      At present, it is mostly a place to document shortcodes.


    .spacer

    %h2 Image Sizes
    .well.help-well
      %p.help-description
        The image versions used throughout the site are listed below. Image uploads are processed to fit within a crop box of the following dimensions. All feature image uploads should be at least 2000px wide by 578px tall.

      %dl.dl-horizontal
        %dt Medium Thumb (600x337px):
        %dd This is the image version used for article previews (for instance on the homepage and article index pages)
        %dt Content (800x800px):
        %dd This is the image version used for image uploads placed within the post body
        %dt Wide (2000x578px):
        %dd This is the image version used in the feature image box (large image at the top of post pages and on homepage).


    .spacer

    %h2 Shortcodes

    .well.help-well
      %h4 Embed an image from the media library

      %p.help-description
        Use this shortcode to embed a named image from the media library.
      %code
        = "[image name=\"the image name\" caption=\"Your caption text\"]"
      %p.help-description
        To embed this image without a caption, use the shortcode:
      %code
        = "[image name=\"the image name\"]"


    .well.help-well
      %h4 Pull quote

      %p.help-description
        To present post text in the style of a "pull quote", wrap it in the "[pullquote]" shortcode like so:
      %code
        = "[pullquote]Here is some text I want to stand out[/pullquote]"

    .well.help-well
      %h4 Block quote

      %p.help-description
        A block quote is similar to a pull-quote but for less impactful material. Content wrapped
        in the "blockquote" shortcode is wrapped in a &lt;blockquote&gt; html element. You can add an optional
        "source" attribute which will add a formatted "source" line (ex: "- David Pogue, New York Times") to the
        block quote.
      %code
        = "[blockquote]Here is a block quote[/blockquote]"

      With a source:

      %code
        = "[blockquote source=\"David Pogue, New York Times\"]Here is a block quote from a named source[/blockquote]"

    .well.help-well
      %h4 Embed a tweet

      %p.help-description
        The standard tweet embed code you might pull from a tweet detail page on twitter is incompatible
        with our post editor. To embed a tweet in a way that is compatible, use the following shortcode:
      %code
        = "[tweet url=\"the tweet url\"]"

      %p.help-description
        A working example:

      %code
        = "[tweet url=\"https://twitter.com/pmarca/status/595091029847486464\"]"

    .well.help-well
      %h4 Embed a video

      %p.help-description
        You can embed Youtube and Vimeo videos in a way that applies standardized
        formatting by using the following shortcode:
      %code
        = "[video url=\"the video url\"]"

      %p.help-description
        A working example:

      %code
        = "[video url=\"https://www.youtube.com/watch?v=keFBEoBy0zY\"]"


    .well.help-well
      %h4 H1, H2, H3, H4 tags

      %p.help-description
        We've included shortcodes for H1, H2, H3 and H4 tags as well:
      %code
        = "[h1]Your H1 content[/h1]"
      %code
        = "[h2]Your H2 content[/h2]"
      %code
        = "[h3]Your H3 content[/h3]"
      %code
        = "[h4]Your H4 content[/h4]"

    .spacer.xl
