- featured = local_assigns.has_key?(:featured) ? featured : false
- skip_author_info = local_assigns.has_key?(:skip_author_info) ? skip_author_info : false

- cache post do
  .post.post-short{data: {uri: expanded_post_url(post)}, class: ('featured-post' if featured)}
    - if post.thumb_image.present?
      = link_to "", expanded_post_url(post), class: 'post-short-img', style: "background-image: url('#{post.thumb_image.try(:image).try(:url, :med_thumb)}');"

    .post-headline= link_to post.headline, expanded_post_url(post)

    - unless skip_author_info
      .author-info
        - if post.author.avatar.present?
          = link_to user_path(post.author), class: 'author-avatar' do
            = image_tag post.author.avatar.url(:thumb), class: 'post-author-avatar-img img-circle'
        %span.muted by
        = link_to post.author.byline, user_path(post.author), class: 'post-author-link'
        %span.muted.slash= '/'
        %span.muted.pub-date= local_time (post.publish_at || post.created_at), post_time_format
        - if post.post? && post.comments_enabled?
          = link_to expanded_post_url(post, anchor: 'disqus_thread'), class: 'muted comment-info' do
            %span.disqus-comment-count{data: {disqus_identifier: post.disqus_identifier}}

    - if post.excerpt.present? && post.show_excerpt?
      .post-body.post-excerpt
        = post.excerpt
    - else
      .post-body
        = truncate_post_to_read_more(post, length: 240)

