- content_for :title do
  = "#{(@post.title_tag_text.present? ? @post.title_tag_text : truncate(@post.headline, length: 50))} | #{site.name}"

- content_for :sharing_meta do
  - # vr:title tag is for Outbrain's crawler
  %meta{:content => decode_html_entities("#{(@post.title_tag_text.present? ? @post.title_tag_text : @post.headline)}"), :property => "vr:title"}
  %meta{:content => decode_html_entities("#{(@post.title_tag_text.present? ? @post.title_tag_text : @post.headline)}"), :property => "og:title"}
  - if @post.featured_image
    %meta{:content => "#{@post.featured_image.image.url}", :property => "og:image"}

- content_for :description do
  = @post.description

- content_for :posts_content do
  = render 'post_full', post: @post
  :coffee
    $ -> new PostShow
