= link_to "Add Column", new_admin_column_path, class: 'btn btn-inverse pull-right'
.clear
.table-panel
  %table.table.admin-posts-table
    %thead
      %tr
        %th= sortable_column "Name"
        %th= sortable_column "Added at", column: :created_at
        %th= sortable_column "Weight", column: :weight
        %th= sortable_column "Count", column: "post_count"

    %tbody
      - if @columns.empty?
        %tr.empty
          %td{colspan: "4"}
            No columns

      - @columns.each do |column|
        %tr
          %td= link_to truncate(column.name, length: 40), edit_admin_column_path(column)
          %td= column.created_at.to_s(:slashes_with_time)

          %td= column.weight
          %td
            - if column.post_count == 0
              %span 0
            - else
              = link_to column.post_count, admin_posts_path(filters: {column_ids: [column.id]})

= paginate @columns
