- content_for :title do
  Van Winkle's | #{@category.name}

- content_for :posts_content do
  - cache [@category, page_param] do
    - category_feature = Post.category_feature(@category)

    - if category_feature
      = render '/common/category_heading', post: category_feature, category: @category

    .container.posts-container.category-posts
      .row
        .col-md-8.col-md-offset-2
          .category-posts-inner
            .category-header-wrap
              %h3.category-header Latest in #{@category.name}
            - @posts.each do |post|
              = render '/posts/post_short', post: post

            .pagination-wrap
              = paginate @posts

- content_for :end_of_body do
  = render '/common/disqus_comment_count'
