- @_current_layout ||= 'application'
- body_classes = @_current_layout.split(' ').map{|name| "layout-#{name}"}.join(" ")
!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}

    %meta{:content => site.name, :property => "og:site_name"}
    %meta{:content => "website", :property => "og:type"}

    - if Rails.env.development?
      :javascript
        window.testmode = true

    :javascript
      window.app_env = "#{Rails.env.to_s}";

    - if content_for?(:title)
      %title #{decode_html_entities(yield(:title))}
    - else
      %title= site.name

    - if content_for?(:description)
      %meta{:content => yield(:description), :name => "description"}
    - elsif site.description.present?
      %meta{:content => site.description, :name => "description"}

    %link{rel: "shortcut icon", href: "/favicon.ico"}

    - if content_for?(:sharing_meta)
      = yield :sharing_meta
    - else
      %meta{:content => "#{image_url 'common/vw-social.jpg'}", :property => "og:image"}

    = render '/virgo/common/fonts'
    = stylesheet_link_tag "virgo/application"
    = javascript_include_tag "virgo/application"
    = csrf_meta_tags
    = render '/virgo/common/header_analytics'
    - if site.style_overrides.present?
      %style= raw site.style_overrides
    :coffee
      window.page_url = "#{page_url}";

    - if content_for? :head
      = yield :head

  %body{class: "#{body_classes} #{params[:controller].split('/').join(' ')} #{params[:action]}#{' admin-user' if admin_access?}"}
    #wrap
      = render '/virgo/common/user_vars'
      = render '/virgo/common/admin_navbar'
      = render '/virgo/common/public_nav'

      #main
        - if content_for? :content
          = yield :content
        - else
          = yield

    = render '/virgo/common/footer'

    = yield :end_of_body
