#image-settings-modal.modal.fade
  .modal-dialog.media-modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4.modal-title Image Settings
      .modal-body
        = simple_form_for @image, url: image_settings_admin_media_modal_index_path(@image), method: :patch, html: {class: 'image-settings-form'} do |f|      
          = f.input :alt_text, as: :string
          .form-group
            %label
              Caption
            = text_area_tag 'caption', caption_param, class: 'form-control'
          = f.input :credit, as: :string
          = f.button :submit, class: 'btn btn-primary pull-right'
          .clear
