.library-panel
  .row
    .col-md-9
      = form_tag do
        .media-thumbnails
          .media-thumbnails-inner
            - if @images.empty? && page_param.blank?
              %p.empty-message
                The media library is currently empty. Click "Upload Image" on the left to add your first image file.

            - @images.in_groups_of(4, false).each do |group|
              .row
                - group.each do |image|
                  .col-md-3
                    = radio_button_tag "image_name", image.name, false, class: 'hidden image-radio', id: "image-radio-#{image.id}", data: {image: image.to_json, partial_path: embed_admin_image_path(image)}
                    %label.thumbnail{for: "image-radio-#{image.id}"}
                      .checked-icon-wrap
                        = icon 'check-square'
                      = image_tag image.image.url(:thumb)

          %a.paginator.js-paginate-link{href: '#', data: {page: page_param.to_i, last_page: last_page?.to_s, uri: library_panel_admin_media_modal_index_path(page: next_page_num)}, class: ('last-page' if last_page?)}
            Load More

    .col-md-3
      = link_to "#", class: 'btn btn-block btn-primary js-insert-selection hidden', id: 'insert-selection' do
        Insert Selection
