%footer#footer.page-group
  .inner.container-fluid
    .row
      .col-sm-4.col-md-offset-8
        %ul.footer-list.footer-right
          %li= link_to 'About Us', "/about", class: "footer-link"
          %li= link_to 'Contact', "/contact", class: "footer-link"
          %li= link_to 'Casper.com', "https://www.casper.com", class: "footer-link"
          %li.sub-links
            %span.subtle-footer-link #{link_to 'Terms & Conditions', "/terms"} / #{link_to 'Privacy', "/privacy-policy"}

    = render '/platform/common/analytics'


= render '/platform/common/ouibounce_modal'
