- content_for :site_settings_content do
  = form_tag admin_page_modules_path, method: :patch do
    .spacer
    - if @page_modules.empty?
      %p.text-muted.empty-message
        You have not yet created any page modules
    - else
      - @page_modules.each do |page_module|
        .page-module-checkbox-wrap
          = hidden_field_tag "page_modules[#{page_module.id}]", '', id: "hidden_page_modules_#{page_module.id}"
          = check_box_tag "page_modules[#{page_module.id}]", true, page_module.enabled, class: 'page-module-checkbox'
          %label.page-module-box{for: "page_modules_#{page_module.id}"}
            = page_module.name

          - if page_module.editable_subject?
            = link_to "Edit Settings", admin_edit_page_module_subject_path(page_module), class: 'page-module-edit-subject pull-right'

          .clear


      .spacer
      = submit_tag "Save Settings", class: 'btn btn-primary pull-right', data: {disable_with: "Saving..."}

  :sass
    .status-text
      position: absolute
      left: -152px
      margin-top: 200px
      background: #000
      color: #fff
      border-radius: 3px
      padding: 5px 10px
      font-size: 14px
