- content_for :content do
  .row
    .col-xs-4.col-xs-offset-4.session-box
      %h3.text-center Set a new password
      %p.info.info-sm.text-muted Enter your email below and we'll send you a link that will let you securely reset your password
      = simple_form_for resource, as: resource_name, url: password_path(resource_name) do |f|
        = f.input :email
        -#= f.input :username
        = hidden_field_tag "next", params[:next]
        = hidden_field_tag "change", params[:change]
        = f.button :submit, "Reset my password", class: "btn btn-inverse btn-block", data: {disable_with: "Loading..."}

      .breaker
      = render "users/shared/links"
