.spacer
.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading
        %h3.panel-title Revision Details
      .panel-body
        %p.change-info.info
          The following changes were made by
          = @version.version_user.pretty_name
          on
          = @version.created_at.to_s(:slashes)

        %table.table.revision-detail-table
          %thead
            %tr
              %th Property
              %th Changes
          %tbody
            - @version.changeset.each do |attribute, changes|
              - if !attribute.in? ["updated_at", "created_at", "id"]
                %tr
                  %td= attribute
                  %td
                    %span.changed changed from
                    %span.from= changes[0].present? ? "\"#{changes[0]}\"" : "(blank)"
                    %span.to-title to
                    %span.to= changes[1].present? ? "\"#{changes[1]}\"" : "(blank)"
