- content_for :site_settings_content do
  %h2 Site Settings
  = simple_form_for @site, url: admin_site_path, method: :patch do |f|
    = f.input :name, as: :string, label: "Site name"
    = f.input :description, label: "Site description (optional)"
    = f.input :tagline, as: :string
    = f.input :twitter_handle
    = f.input :instagram_account_name
    = f.input :pinterest_account_name
    = f.input :disqus_app_id, label: "Disqus App ID"
    = f.input :recommendations_enabled, label: "Article recommendations enabled?"
    = f.button :submit, "Save Settings"
